@font-face {
    font-family: "Raleway";
    src: url("../../../public/Raleway-VariableFont_wght.ttf") format("woff");
    font-style: normal;
}

.info-container {
    font-family: Raleway;
    margin: 100px;
    background: #fff;
}

.info-product-full {
    display: flex;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    gap: 111px;
}

.info-image {
    display: flex;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    padding: 142px 111px 143px 111px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #c2c2c2;
}

.info-product-name {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
}

.info-product-rate {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    opacity: 0.9;
}

.info-product-line-split {
    width: 1px;
    height: 16px;
    border-left: 1px solid #0c2d48;
    opacity: 0.5;
}

.info-product-status {
    color: var(--Button1, #012336);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    opacity: 0.8;
    border-bottom: 2px solid #ffffff;
}

.info-product-rate-status {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
}

.info-product-price {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
}

.info-des {
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    width: 373px;
}

.info-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.info-des {
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 150% */
}

.info-line {
    display: flex;
    width: 410px;
    height: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.5;
    border-bottom: 1px solid #000000;
}

.info-buy {
    display: inline-flex;
    padding: 10px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Button2, #0c2d48);
    color: var(--Text, #fafafa);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    border-width: 0;
    text-decoration: none;
}

.info-buy:visited {
    color: #fff;
}

.info-add {
    display: inline-flex;
    padding: 10px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #0c2d48;
    color: #0c2d48;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}

.info-like {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #0c2d48;
}

.info-access {
    display: flex;
    gap: 10px;
    width: 438px;
}

.info-review {
    height: 650px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-review-container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    gap: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.info-review-reco {
    margin-top: 60px;
    display: flex;
    gap: 80px;
    height: 650px;
}

.info-review-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-review-title {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 133.333% */
    letter-spacing: 1.44px;
}

.review-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.review-form textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 54px;
    border-radius: 5px;
    padding: 12px 10px;
    font-size: 16px;
    font-family: Raleway;
    border: none;
    background-color: #ececec;
}

.review-form textarea:focus {
    outline: none;
}

.review-button {
    margin-left: 15px;
    padding: 16px 20px;
    background-color: #0c2d48;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.review-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.review-button:visited {
    color: #fff;
}

.info-each-review {
    display: flex;
    width: 668px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 5px;
    justify-content: center;
    gap: 30px;
    border: 2px solid #fdfdfd;
}

.info-user-comment-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.info-user-comment {
    color: var(--Text1, #7d8184);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    width: 540px;
}

.info-user-name {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
}

.info-user-photo {
    display: flex;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 60px;
    background-color: #c2c2c2;
}

.info-user-photo-container {
    display: flex;
    align-items: flex-start;
    margin-top: 33px;
}

.info-reco {
    scroll-behavior: smooth;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-reco-title {
    width: 402px;
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 133.333% */
    letter-spacing: 1.44px;
}

.info-reco-container {
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.info-each-reco {
    display: flex;
    height: 171px;
    flex-shrink: 0;
    border-radius: 10px;
    justify-content: center;
    gap: 20px;
    border: 2px solid #ffffff;
}

.info-product-reco-photo-container {
    background-color: #f6f5f5;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.info-product-reco-photo {
    width: 82px;
    height: 129px;
    background-color: #c2c2c2;
}

.info-product-reco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 8px;
    width: 280px;
}

.info-product-reco-name {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.info-product-reco-des {
    color: var(--Text1, #7d8184);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    width: 257px;
}

.info-product-reco-price-rate {
    display: flex;
    gap: 10px;
}

.info-product-reco-price {
    color: var(--Secondary-2, #145da0);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.info-product-reco-rate {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
}

.info-buy:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.info-add:hover {
    background-color: #ececec;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.info-like:hover {
    transition: color 0.3s ease;
    cursor: pointer;
    color: #ff0000;
}

.info-each-reco:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ececec;
    border-radius: 5px;
}

.info-product-genre {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.info-product-each-genre {
    font-family: Raleway;
    font-weight: 700;
    color: var(--Button2, #0c2d48);
}