@font-face {
    font-family: "Raleway";
    src: url("../../../public/Raleway-VariableFont_wght.ttf") format("woff");
    font-style: normal;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2%;
}

.info-group-item {
    width: 100%;
}

.info-group-item-name {
    width: 100%;
}

.info-group-item-name {
    width: 100%;
}

.password-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.info-group label,
.password-group label {
    display: block;
    margin-bottom: 5px;
}

.info-group input[type="email"]:focus,
.info-group input[type="text"]:focus,
.password-group input[type="password"]:focus {
    outline: none;
}

.info-group input[type="email"],
.info-group input[type="text"],
.password-group input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    font-family: Raleway;
    border: none;
    background-color: #ececec;
}

.save-button {
    margin-top: 40px;
    align-self: center;
    margin-right: 15px;
    padding: 16px 20px;
    background-color: #0c2d48;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.save-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.save-button:visited {
    color: #fff;
}
