@font-face {
    font-family: "Raleway";
    src: url("../../../public/Raleway-VariableFont_wght.ttf") format("woff");
    font-style: normal;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
}

.signup-image-container {
    width: 60%;
    height: 100%;
    background-color: #b1d4e0;
    padding: 0 50px;
}

.signup-image {
    background: url("../../../public/illust.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.signup-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-right: 150px;
}

.signup-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.signup-create-account {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.44px;
}

.signup-enter-below {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.signup-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.signup-input-group {
    position: relative;
}

.signup-input-group input[type="text"],
.signup-input-group input[type="email"],
.signup-input-group input[type="password"] {
    width: 330px;
    border-width: 0;
    border-bottom: 1px solid #000;
    padding: 1rem;
    font-family: Raleway;
    font-size: 18px;
    color: #000;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 12px;
    height: 50px;
}

.signup-input-group label {
    position: absolute;
    left: 15px;
    color: #000;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 300;
    font-family: Raleway;
    font-size: 18px;
}

.signup-input-group input[type="text"]:focus,
.signup-input-group input[type="email"]:focus,
.signup-input-group input[type="password"]:focus {
    outline: none;
    border-bottom: 1px solid #0c2d48;
}

.signup-input-group input[type="text"]:not(:placeholder-shown) ~ label,
.signup-input-group input[type="email"]:not(:placeholder-shown) ~ label,
.signup-input-group input[type="password"]:not(:placeholder-shown) ~ label,
.signup-input-group input[type="text"]:focus ~ label,
.signup-input-group input[type="email"]:focus ~ label,
.signup-input-group input[type="password"]:focus ~ label,
.signup-input-group input[type="text"]:-webkit-autofill ~ label,
.signup-input-group input[type="email"]:-webkit-autofill ~ label,
.signup-input-group input[type="password"]:-webkit-autofill ~ label {
    transform: translate(-1rem, -50%);
    background-color: transparent;
    padding: 0, 0.2rem;
    font-weight: 650;
    font-size: 16px;
}

.signup-other {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.signup-button {
    width: 330px;
    display: flex;
    padding: 16px 122px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Button2, #0c2d48);
    white-space: nowrap;

    color: var(--Text, #fafafa);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.signup-button:hover {
    transition: 100ms;
    background-color: #0c2d48;
    opacity: 0.8;
    cursor: pointer;
}

.signup-already-container {
    margin-top: 20px;
    display: flex;
}

.signup-already {
    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.7;
}

.signup-link {
    color: var(--Secondary-2, #145da0);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin-left: 7px;
}

.signup-link:visited {
    color: #145da0;
}

.signup-link:hover {
    text-decoration: underline;
}
