@font-face {
    font-family: "Raleway";
    src: url("../../../public/Raleway-VariableFont_wght.ttf") format("woff");
    font-style: normal;
}

.fav-container {
    font-family: Raleway;
}

.fav-table-header {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 1.5px solid;
    border-color: #ececec;
    font-weight: 600;
}

.fav-table-header-item {
    width: 33%;
}

.fav-blank {
    width: 70px;
}

.fav-table-row {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    border-bottom: 1.5px solid;
    border-color: #ececec;
    text-decoration: none;
    color: #000;
}

.fav-table-row-item {
    display: flex;
    width: 33%;
    align-items: center;
}

.fav-button-group {
    display: flex;
    margin-left: auto;
}

.fav-item-photo-container {
    width: 40%;
    height: 100px;
    background-color: #c2c2c2;
    border-radius: 5px;
    overflow: hidden;
}

.fav-item-photo {
    width: 100%;
    min-height: 100%;
}

.fav-item-name {
    margin-left: 30px;
}

.fav-view-button {
    margin-left: auto;
    padding: 16px 20px;
    background-color: #0c2d48;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.fav-view-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.fav-view-button:visited {
    color: #fff;
}
