@font-face {
    font-family: 'Raleway';
    src: url('../../../public/Raleway-VariableFont_wght.ttf') format('woff');
    font-style: normal;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 142px;
    background-color: #ffffff;
    border-color: rgba(12, 45, 72, 0.4);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.header-content {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 81px;
}

.header-logo {
    width: 368px;
    height: 24px;
    background: url("../../../public/Logo-black.png");
    border: none;
}

.header-pages {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.header-page-each {
    color: var(--Text2, #000);
    text-align: center; 
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.header-page-each:hover {
    cursor: pointer;
    border-bottom: 1.5px solid;
    transform: transparent;
}


.header-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-users-container {
    display: flex;
    width: 150px;
    height: 35px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.header-icon-user {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    background: url("../../../public/user.png" );
    background-size: cover;
    border-radius: 50%;
    overflow: hidden; 
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.header-icon-user:hover {
    background-color: rgb(184, 184, 184);
    transition: background-color 0.3s ease;
    cursor: pointer;
    filter: grayscale(100%);
}

.header-icon-cart {
    height: 28px;
    width: 28px;
    background: url("../../../public/cart_on.png" );
    background-size: cover;
    border-radius: 50%;
    overflow: hidden; 
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.header-icon-cart:hover {
    background-color: rgb(184, 184, 184);
    transition: background-color 0.3s ease;
    cursor: pointer;
    filter: grayscale(100%);
}

.header-search-box {
    display:flex;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
    border: none;
    flex-direction: 'column';
    justify-content: 'center';

    color: var(--Text2, #000);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 180px;
}

.header-search-box:focus {
    outline: none;
}

.header-search-containter {
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 28px;
}

.header-icon-search {
    background-color: rgb(247, 247, 247);
    width: 25px;
    outline: none;
    cursor: pointer;
}