@font-face {
    font-family: "Raleway";
    src: url("../../../public/Raleway-VariableFont_wght.ttf") format("woff");
    font-style: normal;
}

.books-container {
    font-family: Raleway;
    margin: 100px;
}

.title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}

.product-spread {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 15px;
    text-decoration: none;
}

.product:visited {
    color: #000;
}

.product:hover {
    background: #ececec;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.product:active {
    background: #e0e0e0;
}

.product-photo-container {
    width: 100%;
    height: 250px;
    background-color: #c2c2c2;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.product-photo {
    width: 100%;
    height: 100%;
}

.product-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
}

.product-price {
    font-size: 18px;
    color: #0c2d48;
}
