@font-face {
    font-family: "Raleway";
    src: url("../../../public/Raleway-VariableFont_wght.ttf") format("woff");
    font-style: normal;
}

.add-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: Raleway;
    margin: 100px;
}

.add-book-photo-group {
    align-self: top;
    position: relative;
    width: 320px;
    height: 480px;
    margin-bottom: 60px;
    border-radius: 5px;
}

.book-photo-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 997;
    background-color: transparent;
    opacity: 0;
}

.book-photo-overlay:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.book-photo-overlay:active {
    cursor: pointer;
    opacity: 1;
}

.book-overlay-bg {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    background-color: #000;
    z-index: 998;
    border-radius: 0 0 5px 5px;
}

.book-overlay-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 12px;
    right: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../public/edit.png");
    z-index: 999;
}

.add-book-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c2c2c2;
    border-radius: 5px;
}

.add-book-form {
    display: flex;
    width: 65%;
    flex-direction: column;
    gap: 30px;
}

.price-input {
    display: flex;
    align-items: center;
}

.price-label {
    font-weight: 600;
    margin-left: 20px;
}

.add-book-form label {
    display: block;
    margin-bottom: 5px;
}

.add-book-form input[type="number"]:focus,
.add-book-form input[type="text"]:focus,
.add-book-form textarea:focus {
    outline: none;
}

.add-book-form input[type="number"],
.add-book-form input[type="text"] {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Raleway;
    border: none;
    background-color: #ececec;
}

.add-book-form textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 12px 10px;
    font-size: 16px;
    font-family: Raleway;
    border: none;
    background-color: #ececec;
}

.publish-button {
    margin-top: 20px;
    align-self: flex-end;
    padding: 16px 20px;
    background-color: #0c2d48;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.publish-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.publish-button:visited {
    color: #fff;
}
